:root {
  --primary-color: #004467;
  --secondary-color: #ed9500;
  --secondary-color: #fbb017;
  --light-color: #fade9d;
  --text-color: #051b2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  width: 100%;
}

p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar a {
  text-align: center;
  margin: 4px 10px;
  font-size: 1.1rem;
}
