<div class="header">
  <div class="header-content">
    <h1>Wellcome</h1>
    <h3>to our teashop!</h3>
  </div>
</div>
<main>
  <div class="cont">
    <h1>Types of tea</h1>
    <div
      class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3"
    >
      <div *ngFor="let product of products; index as productId">
        <div class="card mt-3 my-card">
          <img src="{{ product.img }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <a
              routerLink="products/{{ productId }}"
              class="btn btn-outline-dark mt-2"
              >Add to cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
